.faq {
  /* background-image: url("../../assets/images/jwlfaq.jpg"); */
   background: linear-gradient(
    135deg,
    rgba(0, 247, 255, 0.2) 0%,
    rgba(63, 94, 251, 0.2) 100%
  );
  background-size: cover;
  background-attachment: fixed;
  padding: 5px;
}
.faqcontainer {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 5px 0px gray;
}
.faq-card {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  transform-origin: center;
}

.faq-card:hover {
  transform: scale(1.02);
}

.faq-arrow {
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.faq-item {
  transition: transform 0.2s ease-in-out;
}

.faq-answer {
  display: none;
  overflow: hidden;
}

.faq-answer.show {
  display: block;
}

.faq-question {
  padding: 15px;
  font-size: 1.25rem;
  background-color: transparent;
  color: #333;
  font-weight: bold;
}

.card-body {
  background-color: #f8f9fa;
}
