.footer {
    position: static;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, rgba(0,247,255,0.2) 0%, rgba(63,94,251,0.2) 100%);
    box-shadow: 0px 0px 100px 5px rgba(0,247,255,0.2);
  }
  